<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ask">
	<select id="getCount" resultType="int" parameterType="askDto">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_ask
		<where>
			<if test="writer != null">
				OR writer LIKE '%'||#{writer}||'%'
			</if>
			<if test="title != null">
				OR title LIKE '%'||#{title}||'%'
			</if>
			<if test="content != null">
				OR content LIKE '%'||#{content}||'%'
			</if>
		</where>
	</select>
	<update id="addViewCount" parameterType="int">
		UPDATE board_ask
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	<insert id="insert" parameterType="askDto">
		INSERT INTO board_ask
		(num, writer, title, content, viewCount, regdate)
		VALUES(board_ask_seq.NEXTVAL, #{writer}, #{title}, #{content},
		#{viewCount}, SYSDATE)
	</insert>
	<update id="update" parameterType="askDto">
		UPDATE board_ask
		SET title=#{title}, content=#{content}
		WHERE num=#{num}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM board_ask
		WHERE num=#{num}
	</delete>
	<select id="getData2" parameterType="int" resultType="askDto">
		SELECT result1.*
		FROM (SELECT num, writer, title, content, viewCount, regdate,
				LAG(num, 1, 0) OVER(ORDER BY num DESC) prevNum,
				LEAD(num, 1, 0) OVER(ORDER BY num DESC) nextNum
			  FROM board_ask
			  ORDER BY num DESC) result1
		WHERE num=#{num}
	</select>
	<select id="getData" parameterType="askDto" resultType="askDto">
		SELECT result1.*
		FROM (SELECT num, writer, title, content, viewCount, regdate,
				LAG(num, 1, 0) OVER(ORDER BY num DESC) prevNum,
				LEAD(num, 1, 0) OVER(ORDER BY num DESC) nextNum
			  FROM board_ask
	        <where>
				<if test="writer != null">
					OR writer LIKE '%'||#{writer}||'%'
				</if>
				<if test="title != null">
					OR title LIKE '%'||#{title}||'%'
				</if>
				<if test="content != null">
					OR content LIKE '%'||#{content}||'%'
				</if>
			</where>
			  ORDER BY num DESC) result1
		WHERE num=#{num}
	</select>	
	
	<select id="getList" parameterType="askDto" resultType="askDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM AS rnum
		 	  FROM (SELECT num, writer, title, content, viewCount, regdate
			        FROM board_ask
			        <where>
						<if test="writer != null">
							OR writer LIKE '%'||#{writer}||'%'
						</if>
						<if test="title != null">
							OR title LIKE '%'||#{title}||'%'
						</if>
						<if test="content != null">
							OR content LIKE '%'||#{content}||'%'
						</if>
					</where>
			        ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getList2" parameterType="askDto" resultType="askDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM AS rnum
		 	  FROM (SELECT num, writer, title, content, viewCount, regdate
			        FROM board_ask
			        <where>
						<if test="writer != null">
							OR writer LIKE '%'||#{writer}||'%'
						</if>
						<if test="title != null">
							OR title LIKE '%'||#{title}||'%'
						</if>
						<if test="content != null">
							OR content LIKE '%'||#{content}||'%'
						</if>
					</where>
			        ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
		AND id=#{id}
	</select>
</mapper>























