<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eventImage">	
	<insert id="insert" parameterType="eventImageDto">
		INSERT INTO eventImage_mp
		(num, ref_group, orgFileName, saveFileName, fileSize, regdate)
		VALUES(eventImage_mp_seq.NEXTVAL, #{ref_group}, #{orgFileName},
		 #{saveFileName}, #{fileSize}, SYSDATE)
	</insert>
	<delete id="delete" parameterType="int">
		DELETE FROM eventImage_mp
		WHERE num=#{num}
	</delete>
	<select id="getData" parameterType="int" resultType="eventImageDto">
		SELECT num,ref_group,orgFileName,saveFileName,fileSize,regdate
		FROM eventImage_mp
		WHERE num=#{num}
	</select>
</mapper>























