<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rsch">
		<insert id="insert" parameterType="rschlistDto">
		INSERT INTO RSCHMAIN
		(cd, title, sdate, edate, use, rdate, comm,cnt)
		VALUES(RSCHMAIN, #{title}, #{comm}, #{cnt},
		sdate, rdate)
	</insert>
	<update id="update" parameterType="rschlistDto">
		UPDATE RSCHMAIN
		SET title=#{title}, comm=#{comm}
		WHERE cd=#{cd}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM RSCHMAIN
		WHERE cd=#{cd}
	</delete>

		<select id="getList" parameterType="rschlistDto" resultType="rschlistDto">
		SELECT *
		 	  FROM (SELECT cd, title, sdate, edate, rdate
			        FROM RSCHMAIN
			        <where>
						<if test="title != null">
							OR writer LIKE '%'||#{title}||'%'
						</if>
						<if test="comm != null">
							OR title LIKE '%'||#{comm}||'%'
						</if>
					</where>
			        ORDER BY cd DESC) result1)
	
	</select>
</mapper>
