<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usersRes">
	<insert id="insert" parameterType="usersResDto">
		INSERT INTO usersRes_mp
		(id, num, movieName, saveFileName, price, paymentWay, point, regdate)
		VALUES(#{id}, usersRes_mp_seq.NEXTVAL, #{movieName}, #{saveFileName}, #{price}, #{paymentWay}, #{point}, SYSDATE)
	</insert>
	<select id="getSumPrice" parameterType="string" resultType="int">
		SELECT sum(price) sumPrice
		FROM usersRes_mp
		WHERE id=#{id} AND currCon=0
	</select>
	<select id="getData" parameterType="string" resultType="usersResDto">
		SELECT id, num, movieName, saveFileName, price, paymentWay, currCon, point, regdate
		FROM usersRes_mp
		WHERE id=#{id}
		AND to_char(regdate, 'yyyy-mm-dd') <![CDATA[ > ]]> to_char(add_months(sysdate,-1),'yyyy-mm-dd')
	</select>
	<update id="cancelRes" parameterType="usersResDto">
		UPDATE usersRes_mp
		SET currCon=1, point=#{point}
		WHERE id=#{id}
	</update>
</mapper>






















